<% include('header.inc'); %>
	<h1>JWalk Documentation</h1>
	<ul>
		<% for( var i = 0; i < files.length; i++ ){ %>
			<li>
				<a href="<%= pathForScript(files[i]) %>">
					<%= files[i].name %></a>
			</li>
		<% } %>
	</ul>
<% include('footer.inc'); %>